.wk-page{
  .login-page{
    background-color: #fff;
    .login-register__box {
      padding: 50px 30px;
      .van-cell{
        line-height: 50px;
        font-size: 14px;
      }
      .van-cell:not(:last-child)::after{
        border-bottom-width: .05rem;
      }
      .van-button {
        margin-top: 15px;
      }
      .van-button.get-code {
        margin-top: 0;
        border: none;
        color: #4b0;
        .van-button__text{
          color: #4b0;
        }
      }
    }
    .login-register__p {
      margin: 25px 0;
      text-align: center;
      font-size: 12px;
    }
  }
}
