.wk-page__article__detail {
  .article-detail__cts {
    * {
      font-size: 14px !important;
      line-height: 26px !important;
      text-align: justify !important;
      font-weight: normal !important;
      font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    }
    img {
      display: block !important;
      margin: 10px auto !important;
      max-width: 100% !important;
      height: auto !important;
    }
  }
  .article-detail__info {
    margin-bottom: 15px;
    font-size: 13px;
    color: #888;
  }
}