@import './variables.scss';
@import './mixin.scss';
// @import './transition.scss';
// @import './sidebar.scss';

body {
  font-size: 16px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  font-size: 16px;
  // height: 100%;
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

p{
  margin: 0;
  padding: 0;
}

// 全局样式
.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
.app-main{
  // position: absolute;
  // left: 0;
  // top: 0;
  // padding-top: 46px;
  width: 100%;
  height: 100%;
}

.wk-page {
  position: relative;
  width: 100%;
  height: 100%;
  .wk-page__head{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 44px;
    z-index: 100;
  }
  .wk-page__body{
    position: absolute;
    padding-top: 44px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // min-height: 100%;
    // background-color: #f5f5f5;
    background-color: #fff;
    z-index: 90;
    .wk-body__bg {
      width: 100%;
      min-height: 100%;
      background-color: #f8f8f8;
    }
  }
  .wk-page__body.has-bottom-btns{
    height: auto;
    min-height: 100%;
    padding-bottom: 95px;
    .opera-btns{
      display: flex;
      position: fixed;
      left: 0;
      bottom: 0;
      padding: 15px 8px;
      width: 100%;
      height: 80px;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(0,0,0,.1);
      .van-button {
        margin: 0 8px;
        height: 45px;
        line-height: 45px;
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0,0,0,.2);
      }
    }
  }
}

// .app-container {
//   padding: 20px;
// }

// 公共搜索组件
.wk-search{
  margin: 20px 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  .van-cell-group{
    // background-color: #f5f5f5;
    height: 100%;
    .van-cell{
      padding: 20px;
      height: 100%;
      // background-color: #f5f5f5;
    }
  }
  .van-cell__value{
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    overflow: hidden;
    .van-field__body{
      height: 100%;
    }
  }
  .van-field__control{
    font-size: 24px;
    padding: 0 24px;
    // height: 100%;
  }
  .van-field__button{
    height: 100%;
    .van-button{
      width: 90px;
      height: 100%;
    }
  }
}

.mt15{
  margin-top: 10px;
}
.mb20 {
  margin-bottom: 10px;
}
// title标题
.title{
  position: relative;
  margin: 0;
  padding: 13px 15px;
  padding-left: 30px;
  height: 50px;
  font-size: 16px;
  line-height: 24px;
  background-color: #eee;
  &:after{
    content: ' ';
    position: absolute;
    left: 15px;
    top: 13px;
    width: 5px;
    height: 24px;
    background-color: #aaa;
  }
}
.text-link {
  color: #13b9f7;
}
.text-danger {
  color: #ff3860;
}
.text-warning {
  color: #ff9800;
}
.text-info {
  color: #999;
}
// 证书选择组件里的样式
.data-picker__3 {
  .van-cell__title {
    display: flex;
    align-items: center;
  }
}
.certs-picker__choosebtn{
  padding: 15px;
}

// 过渡效果
// @import './transition.scss';

// 公共样式
@import './common.scss';

// 证书选择组件
@import './app_filed_picker.scss';

// 头部样式
@import './app_head.scss';

// 登陆注册页
@import './app_login.scss';

// 首页
@import './wk_home.scss';

// 找工作首页
@import './jobs_index.scss';

// 简历页
@import './wk_resume.scss';

// 发布职位
@import './wk_posted.scss';

// 公司简介
@import './wk_company.scss';

// 信息查询
@import './wk_service_info.scss';

// 资质标准
@import './wk_standard.scss';

// 文章
@import './article.scss';