.wk-home__server{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 175px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  .van-row--flex{
    flex-wrap: wrap;
  }
  .van-icon{
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
  }
  .server-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  p{
    margin-top: 5px;
    font-size: 13px;
  }
  .van-col{
    padding: 5px 0;
  }
  .home-custom-btn__group {
    padding: 20px 0;
    // margin-left: -10px;
    // margin-right: -10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    .custom-btn__item {
      width: 50%;
      padding: 0 10px;
      .custom-btn {
        height: 40px;
        line-height: 40px;
        width: 100%;
        border-radius: 3px;
      }
      .btn-primary {
        color: #fff;
        background-color: #00b7ee;
        border-color: #00b7ee;
      }
      .btn-success {
        color: #fff;
        background-color: #02d6ce;
        border-color: #02d6ce;
      }
    }
  }
}
.wk-home__hot-jobs {
  background-color: #fff;
  padding: 15px 10px;
  .hot-jobs__box {
    margin-bottom: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .hot-jobs__tag {
      margin-left: 6px;
      margin-right: 6px;
      margin-bottom: 12px;
      padding: 5px 12px;
      box-shadow: 0 0 1px rgba(0,0,0,.3);
      border-radius: 3px;
      font-size: 12px;
    }
  }
}

.wk-home__select{
  margin-top: 10px;
  // padding: 40px;
  width: 100%;
  // text-align: center;
  &>a{
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 82px;
    font-size: 16px;
    background-color: #fff;
    &>.van-icon{
      flex: 1;
      // width: 32px;
      height: 55px;
      font-size: 14px;
      text-align: center;
      line-height: 55px;
    }
    &>.text{
      flex: 8;
      padding-left: 4px;
      padding-right: 4px;
      h2{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
      }
      p{
        font-size: 12px;
      }
    }
    .wk-home__select__arrow {
      // align-self: flex-end;
      // width: 24px;
      height: 55px;
      font-size: 15px;
      text-align: right;
      line-height: 55px;
    }
  }
  &>a:first-child{
    margin-bottom: 10px;
    // border-bottom: 1px solid rgba(0,0,0,.4);
  }
}

// .hot-list-more {
//   .van-button {
//     height: 36px;
//     line-height: 34px;
//     font-size: 14px;
//   }
// }
.home_home_lists.wk-list__page {
  .van-tabs__content{
    height: auto;
  }
}
.wk-home__list-more {
  padding: 15px;
  background-color: #fff;
  .van-button{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: none;
    box-shadow: 0 0 1px rgba(0,0,0,.2);
  }
}
