.resume-null {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  .img-null {
    display: block;
    margin: 0 auto 70px;
    width: 112.5px;
    height: auto;
  }
  .img-null-title {
    margin-bottom: 13.5px;
    font-size: 16px;
    text-align: center;
  }
  .img-null-title.p {
    font-size: 13px;
    color: #909399;
  }
  .van-button{
    margin-top: 43px;
    width: 280px;
    height: 45px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    background-color: #2CC17B;
    border: none;
  }
}

.resume-edit{
  .add-more-btn{
    border: none;
  }
  .more-info-box{
    background-color: #f5f5f5;
  }
  .save-resume{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
    min-height: 44px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    .van-button{
      height: 44px;
      line-height: 44px;
    }
  }
  .van-cell__title{
    display: flex;
    align-items: center;
  }
  .van-cell__value{
    .avatar-box{
      display: block;
      float: right;
      width: 56px;
      height: 56px;
    }
  }
  .van-field{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
  }
  .wk-resume__field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    &>span{
      margin-right: 10px;
    }
    .sexy-switch {
      background-color: #f79d9d;
    }
    .sexy-switch.van-switch--on{
      background-color: #649fd2;
    }
  }
}
.resume-edit__exps {
  .van-cell__title{
    flex: 1;
  }
  .van-cell__value{
    flex: 2;
  }
  .resume-edit__btns{
    display: flex;
    position: fixed;
    padding: 15px 8px 15px 8px;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    // border-top: 1px solid #eee;
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
    .van-button{
      margin: 0 8px;
    }
  }
}
.resume-list{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
// .resume-detail{
//   padding: 15px;
//   width: 100%;
//   height: 100%;
//   background-color: #fff;
//   .avatar{
//     display: block;
//     width: 100%;
//     // height: 100%;
//   }

//   .resume-detail__line{
//     margin: 20px 0;
//     height: 1px;
//     width: 100%;
//     background-color: #ccc;
//   }
//   .resume-detail__box{
//     margin: 10px 0;
//     display: flex;
//     justify-content: space-between;
//     font-size: 16px;
//     .resume-detail__tt{
//       flex: 1;
//       display: flex;
//       align-items: center;
//       &>span{
//         color: #333;
//       }
//     }
//     .resume-detail__cts{
//       padding-left: 16px;
//       flex: 3;
//       p{
//         font-size: 16px;
//         min-height: 30px;
//         line-height: 30px;
//         color: #888;
//       }
//       .resume-rate{
//         display: flex;
//         &>span{
//           margin-left: 16px;
//           font-size: 20px;
//         }
//       }
//     }
//     .resume-detail__ft{
//       flex: 1
//     }
//   }
//   .resume-detail__1{
//     padding: 20px 0;
//     p{
//       padding-left: 15px;
//     }
//   }
//   .resume-detail__logs{
//     border-top: 1px dotted #eee;
//     &:first-child{
//       border-top: none;
//     }
//   }
//   .title {
//     margin-left: -15px;
//     margin-right: -15px;
//   }
// }

.wk-detail__resume__head{
  display: flex;
  .wk-resume__img{
    margin-right: 15px;
    width: 90px;
    height: 90px;
    img{
      width: 90px;
      height: 90px;
    }
  }
  .wk-resume__info{
    h1 {
      height: 22px;
      font-size: 18px;
    }
    h2 {
      height: 22px;
      font-size: 16px;
      font-weight: normal;
    }
    p {
      font-size: 16px;
      height: 22px;
    }
  }
}
.wk-detail__page {
  .wk-detail__foot__resume{
    padding-top: 0;
  }
}

.resume-rate {
  display: flex;
  .van-rate {
    margin-right: 8px;
  }
  &>span {
    font-size: 16px;
    font-weight: bold;
  }
}


.data-picker__2 {
  font-weight: bold;
}
.data-picker__tag {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  &>.van-tag{
    padding: 8px;
    margin: 5px;
    font-size: 14px;
    .van-icon {
      top: 1px;
      margin-left: 8px;
      margin-right: 3px;
      color: #f33;
    }
  }
  .title{
    margin-bottom: 10px;
    font-size: 14px;
    height: 40px;
    padding: 8px 15px;
    &:after{
      display: none;
    }
  }
}
